body {
  background-color: white;
}

.player {
  border: 1px solid green;
  margin: 5px;
  padding: 5px;
}

.card {
  width: 15px;
  height: 25px;
  border-radius: 5px;
  margin: 5px;
  background: yellow;
  display: inline-block;
  /*background-image: url('../images/1c.svg');*/
  background-size: cover;
  border: 1px solid black;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}
